container_commands:
  01_migrate:
    command: >
      sudo SECRET_KEY=$SECRET_KEY DATABASE_URL=$DATABASE_URL
      docker run -e SECRET_KEY -e DATABASE_URL --rm
      $(sudo /opt/elasticbeanstalk/bin/get-config container -k staging_image)
      python /app/manage.py migrate --noinput
    leader_only: true
