container_commands:
  01_migrate:
    command: >
      sudo SECRET_KEY=$SECRET_KEY DATABASE_URL=$DATABASE_URL AWS_MEDIA_BUCKET_NAME=$AWS_MEDIA_BUCKET_NAME AWS_STORAGE_BUCKET_NAME=$AWS_STORAGE_BUCKET_NAME
      docker run -e SECRET_KEY -e DATABASE_URL -e AWS_STORAGE_BUCKET_NAME -e AWS_MEDIA_BUCKET_NAME --rm
      $(sudo /opt/elasticbeanstalk/bin/get-config container -k staging_image)
      python /app/manage.py collectstatic --noinput
    leader_only: true
