files:
    "/etc/cron.d/clear_database":
        mode: "000644"
        owner: root
        group: root
        content: |
            0 0 * * 0 root /usr/local/bin/clear_db.sh

    "/usr/local/bin/clear_db.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/bash
            sudo docker exec \
            $(cat `sudo /opt/elasticbeanstalk/bin/get-config container -k app_deploy_file`) \
            /bin/bash -c "python manage.py cleardb && python manage.py populatedb"

commands:
    remove_old_cron:
        command: "rm -f /etc/cron.d/*.bak"
