{% extends "base.html" %}
{% load i18n %}

{% block content %}

    <div class="home">
      <div class="row">
        <div class="col-sm-12 home__block1">
          <div class="home--square">
            <div class="home--content">
              <div class="home--content-wrapper">
                <div class="home--content-inner">
                  <h1>{% trans "Promo &amp; Sale" context "Text in homepage block" %}</h1>
                  <h2>{% trans "from the North Pole" context "Text in homepage block" %}</h2>
                    <a class="btn btn-secondary home__button" href="/products/category/groceries-2/">{% trans "Shop now" context "Link to category on homepage" %}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-6 home__block2">
          <div class="home--square">
            <div class="home--content">
              <div class="home--content-wrapper">
                <div class="home--content-inner">
                  <h1>{% trans "Size &amp; Colours" context "Text in homepage block" %}</h1>
                  <a class="btn btn-secondary home__button" href="/products/category/apparel-3/">{% trans "Shop now" context "Link to category on homepage" %}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 home__block3">
          <div class="home--square">
            <div class="home--content">
              <div class="home--content-wrapper">
                <div class="home--content-inner">
                  <h1>{% trans "Digital Downloads" context "Text in homepage block" %}</h1>
                  <a class="btn btn-secondary home__button" href="/products/category/books-1/">{% trans "Shop now" context "Link to category on homepage" %}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="home__featured">
        <h2 class="text-center">{% trans "Featured products" context "Homepage section" %}</h2>
        <div class="row">
          {% include "product/_items.html" %}
        </div>
      </div>
    </div>
{% endblock %}
